section#news .col-12.col-lg-8 ul::-webkit-scrollbar,
#news .col-12.col-lg-8 ul::-webkit-scrollbar,
.home-section .col-12.col-lg-8 ul::-webkit-scrollbar {
  width: 8px;
}

section#news .col-12.col-lg-8 ul::-webkit-scrollbar-thumb,
#news .col-12.col-lg-8 ul::-webkit-scrollbar-thumb,
.home-section .col-12.col-lg-8 ul::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.6);
  border-radius: 6px;
}